{% extends "layouts.html" %}

{% block content %}
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">DevFruit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
            <a class="nav-link" href="/">Todos produtos</a>
            </li>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for categoria in categorias %}
                <a class="dropdown-item" href="{{url_for('get_categoria', id=categoria.id)}}">{{categoria.name}}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Marcas 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for marca in marcas %}
            <a class="dropdown-item" href="{{url_for('get_marca', id=marca.id)}}">{{marca.name}}</a>
            {% endfor %}
          </div>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<div class="container">
    <div class="row">
        {% if marca %}
        {% for marca in marca.items %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+ marca.name+'.jpg')}}" alt="{{marca.name}}" class="card-img-top" height="180">
                <div class="card-body">
                    {% if marca.discount > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px rgb(32, 27, 27); color: rgb(23, 85, 8); transform: rotate(-5deg); position: absolute; top: 45%; left: 25%; font-weight: 600;" >{{marca.discount}}% de desconto</h5>
                    {% endif %}
                    <h4 class="text-center">{{marca.name}}</h4>
                    <h4 class="text-center">Preço: R${{marca.price}}</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="float-left btn btn-sm btn-warning" >Detalhes Produto</a>
                    <a href="#" class="float-right btn btn-sm btn-success" >Adicionar Carrinho</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col text-center">
        {% if marca.has_prev %}
        <a href="{{url_for('get_marca',id=get_m.id ,pagina=get_cat_prod.prev_num)}}"class="btn btn-outline-primary btn-sm mt-3">Anterior</a>
        {%endif %}

        {% for page_num in marca.iter_pages() %}
        {% if page_num %}

        {% if marca.paginas == page_num %}
        <a href="{{url_for('get_marca', id=get_m.id ,pagina= page_num)}}"class="btn btn-primary btn-sm mt-3">{{ page_num }}</a>
        {% else %}
        <a href="{{url_for('get_marca',id=get_m.id ,pagina= page_num)}}"class="btn btn-outline-primary btn-sm mt-3">{{ page_num }}</a>
        {%endif %}
        {% else %}
        ...
        {%endif %}
        {% endfor %}
        {% if marca.has_next %}
        <a href="{{url_for('get_marca', id=get_m.id ,pagina=get_cat_prod.next_num)}}"class="btn btn-outline-primary btn-sm mt-3">Próxima</a>
        {%endif %}
        </div>
    </div>

    <div class="row">
        {% elif get_cat_prod %}
        {% for get_cat in get_cat_prod.items %}
        
        <div class="col-md-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+ get_cat.name+'.jpg')}}" alt="{{get_cat.name}}" class="card-img-top" height="180">
                <div class="card-body">
                    {% if get_cat.discount > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px rgb(32, 27, 27); color: rgb(23, 85, 8); transform: rotate(-5deg); position: absolute; top: 45%; left: 25%; font-weight: 600;" >{{get_cat.discount}}% de desconto</h5>
                    {% endif %}
                    <h4 class="text-center">{{get_cat.name}}</h4>
                    <h4 class="text-center">Preço: R${{get_cat.price}}</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="float-left btn btn-sm btn-warning" >Detalhes Produto</a>
                    <a href="#" class="float-right btn btn-sm btn-success" >Adicionar Carrinho</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
        {% if get_cat_prod.has_prev %}
        <a href="{{url_for('get_categoria',id=get_cat.id ,pagina=get_cat_prod.prev_num)}}"class="btn btn-outline-primary btn-sm mt-3">Anterior</a>
        {%endif %}

        {% for page_num in get_cat_prod.iter_pages() %}
        {% if page_num %}

        {% if get_cat_prod.paginas == page_num %}
        <a href="{{url_for('get_categoria', id=get_cat.id ,pagina= page_num)}}"class="btn btn-primary btn-sm mt-3">{{ page_num }}</a>
        {% else %}
        <a href="{{url_for('get_categoria',id=get_cat.id ,pagina= page_num)}}"class="btn btn-outline-primary btn-sm mt-3">{{ page_num }}</a>
        {%endif %}
        {% else %}
        ...
        {%endif %}
        {% endfor %}
        {% if get_cat_prod.has_next %}
        <a href="{{url_for('get_categoria', id=get_cat.id ,pagina=get_cat_prod.next_num)}}"class="btn btn-outline-primary btn-sm mt-3">Próxima</a>
        {%endif %}
        </div>
    </div>
    <div class="row">
        {% else %}

        {% for produto in produtos.items %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{url_for('static',filename='images/'+ produto.name+'.jpg')}}" alt="{{produto.name}}" class="card-img-top" height="180">
                <div class="card-body">
                    {% if produto.discount > 0 %}
                    <h5 style="text-shadow: 1px 1px 2px rgb(32, 27, 27); color: rgb(23, 85, 8); transform: rotate(-5deg); position: absolute; top: 45%; left: 25%; font-weight: 600;" >{{produto.discount}}% de desconto</h5>
                    {% endif %}
                    <h4 class="text-center">{{produto.name}}</h4>
                    <h4 class="text-center">Preço: R${{produto.price}}</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="float-left  btn btn-sm btn-warning" >Detalhes Produto</a>
                    <a href="#" class="float-right btn btn-sm btn-success" >Adicionar Carrinho</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
        {% if produtos.has_prev %}
        <a href="{{url_for('home', pagina=produtos.prev_num)}}"class="btn btn-outline-primary btn-sm mt-3">Anterior</a>
        {%endif %}

        {% for page_num in produtos.iter_pages() %}
        {% if page_num %}

        {% if produtos.paginas == page_num %}
        <a href="{{url_for('home', pagina= page_num)}}"class="btn btn-primary btn-sm mt-3">{{ page_num }}</a>
        {% else %}
        <a href="{{url_for('home', pagina= page_num)}}"class="btn btn-outline-primary btn-sm mt-3">{{ page_num }}</a>
        {%endif %}
        {% else %}
        ...
        {%endif %}
        {% endfor %}
        {% if produtos.has_next %}
        <a href="{{url_for('home', pagina=produtos.next_num)}}"class="btn btn-outline-primary btn-sm mt-3">Próxima</a>
        {%endif %}
        </div>
    </div>

        
        {%endif %}
    </div>
</div>
{% endblock content %}